@model ProductVM
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">
            @Model.Name
        </h3>
    </div>
</div>
<!-- Header End -->
<div class="container-fluid align-items-center packages-2 py-5">
    <div class="container-fluid px-5 row g-5">
        <div class="container py-5 col-lg-5 col-md-12">
            <div class="carousel-header">
                @for(int i=0; i < Model.ProductImages.Count; i++)
                {           
                <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carouselId" data-bs-slide-to=@i class="active"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img src=@Model.ProductImages[i].Path class="img-fluid" alt="Image">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon btn bg-primary" aria-hidden="false"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon btn bg-primary" aria-hidden="false"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                }
            </div>
        </div>
        <div class="container py-5 about col-lg-6 col-md-12 d-flex flex-column justify-content-between ">
            <form
            asp-controller="Checkout"
            asp-action="Index"
            method="post"
            >
                <input type="hidden" name="Reservation.ProductId" value="@Model.Id" />
                <input type="hidden" name="Reservation.ProductPrice" value="@Model.Price" />
                <input type="hidden" name="Reservation.StartDate" id="start-date" />
                <input type="hidden" name="Reservation.EndDate" id="end-date" />
                <input type="hidden" name="Reservation.AdultNumber" id="Reservation_AdultNumber" />
                <input type="hidden" name="Reservation.ChildrenNumber" id="Reservation_ChildrenNumber" />

                <div>
                <h5 class="section-about-title pe-3">@Model.ProductAddress.DistrictName, @Model.ProductAddress.CityName</h5>
                <h1 class="mb-4"><span class="text-primary">@Model.Name</span></h1>
                <div>
                    <h5 class="section-about-title pe-3">Villa Properties: </h5>
                    <p class="mb-4"> @Model.Description</p>
                </div>
            </div>
            <div class="row gy-2 gx-4 mb-4">
                @foreach (var att in Model.Attributes)
                {
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>@att.Attribute</p>
                    </div>
                }
            </div>
            <div class="row gy-2 gx-4 mb-4 ">
                <div class="col-sm-6 d-flex">
                    <p class="section-about-title pe-3 fw-bold">Price: </p>
                    <span class="fw-light"> @($"{Model.Price:C0}")</span>
                </div>
                <div class="col-sm-6 d-flex">
                    <p class="section-about-title pe-3 fw-bold">Shortest Rent Period: </p>
                    <span class="fw-light"> @Model.ShortestRentPeriod Days</span>
                </div>
            </div>

            <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3003.7706350803737!2d28.998362075866652!3d41.161355971329435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDHCsDA5JzQwLjkiTiAyOcKwMDAnMDMuNCJF!5e0!3m2!1str!2str!4v1712533658428!5m2!1str!2str" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="form-control border-0 d-flex row">
                <div class="col-md-4">
                    <div class="form-group mb-3 date" id="start-date" data-target-input="nearest">
                        <label>
                            Pick a start date
                        </label>
                        <input class="form-control" asp-for="Reservation.StartDate" id="start-date" type="date" value="" for="start-date" />
                    </div>
                </div>
                <div class="col-md-4 ps-3">
                    <div class="form-group mb-3 date" id="end-date" data-target-input="nearest">
                        <label>
                            Pick an end date
                        </label>
                        <input class="form-control" asp-for="Reservation.EndDate" id="end-date" type="date" value="" for="end-date" />
                    </div>
                </div>
                <div class="col-md-4 ps-3">
                        <select asp-for="Reservation.AdultNumber" id="Reservation_AdultNumber" class="form-select" aria-label="Default select example">
                        <option selected>Select number of adults</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                        <select asp-for="Reservation.ChildrenNumber" id="Reservation_ChildrenNumber" class="form-select" aria-label="Default select example">
                        <option selected>Select number of adults</option>
                        <option value="0">No children</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">                
                <button type="submit" class="btn btn-primary rounded-pill py-3 px-5 mt-2 float-end" >Reservation Request</button>
            </div>
            </form>
        </div>
    </div>
</div>


