@model List<ProductVM>
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">
            Most Popular Villas</h3>
    </div>
</div>
<!-- Header End -->
<!-- Packages Start -->
<div class="container-fluid packages py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Offers</h5>
            <h1 class="mb-0">Awesome Offers</h1>
        </div>
        <div class="packages-carousel owl-carousel">
            @foreach(var p in Model)
            {
                if(p.ProductImages.Count > 0)
                {
                <div class="packages-item" style="height: 600px">
                    <div class="packages-img">
                        <img src="@p.ProductImages[0].Path?" class="img-fluid w-100 rounded-top" alt="Image" style="height: 300px">
                        <div class="packages-info d-flex border border-start-0 border-end-0 position-absolute" style="width: 100%; bottom: 0; left: 0; z-index: 5;">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt me-2"></i>@p.ProductAddress.DistrictName - @p.ProductAddress.CityName</small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt me-2"></i>@p.ShortestRentPeriod Days</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user me-2"></i>2 Person</small>
                        </div>
                        @{decimal price = p.Price * p.ShortestRentPeriod * 2;}
                        <div class="packages-price py-2 px-4">@($"{price:C0}")</div>
                    </div>
                    <div class="packages-content bg-light">
                        <div class="p-4 pb-0">
                            <h5 class="mb-0">@p.Name</h5>
                            @foreach (var a in p.Attributes.Select(a => a.Attribute).ToList())
                            {
                                <small class="fa text-primary me-2">@a</small>
                            }
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p class="mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt nemo quia quae illum aperiam fugiat voluptatem repellat</p>
                        </div>
                        <div class="row bg-primary rounded-bottom mx-0">
                            <div class="col-6 text-start px-0">
                                <a href="#" class="btn-hover btn text-white py-2 px-4">Read More</a>
                            </div>
                            <div class="col-6 text-end px-0">
                                <a href="#" class="btn-hover btn text-white py-2 px-4">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                }
            }
        </div>
    </div>
</div>
<!-- Packages End -->